<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class='container text-center'>

<h2>About</h2>
<h3>This is a random password generator created by Yukesh.Enjoy fam! </h3>
<p>He is a STATISTICIAN, DATA SCIENTIST, Software Professsional, Real estate agent, Insurance -Agent-, and an ENTREPRENUER</p>

<p>please stay tuned to know about us, ned to upload many more
    <br>
Thank You . . .</p>
<br>

</div>